Repository davidl71/project-management-automation: changes, and which pre-commit hooks are due for each by the changed paths.
All: exarp-docs-health, exarp-tag-validation, exarp-security-quick, exarp-tool-validation

.pre-commit-config.yaml:

# Pre-commit configuration for Exarp project
# Integrates Exarp's own tools for self-validation ("dogfooding")
#
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Standard Python checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3

  # Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  # Local Exarp tools (dogfooding!)
  - repo: local
    hooks:
      # Quick docs health check
      - id: exarp-docs-health
        name: Exarp Docs Health Check
        entry: python -c "from project_management_automation.tools.docs_health import check_documentation_health; print(check_documentation_health())"
        language: python
        pass_filenames: false
        files: \.(md|rst)$
        stages: [commit]

      # Tag validation on task file changes
      - id: exarp-tag-validation
        name: Exarp Tag Validation
        entry: python -c "from project_management_automation.tools.tag_consolidation import consolidate_tags; print(consolidate_tags(dry_run=True))"
        language: python
        pass_filenames: false
        files: \.todo2/.*\.json$
        stages: [commit]

      # Security scan (quick mode for commits)
      - id: exarp-security-quick
        name: Exarp Security Scan (Quick)
        entry: python -c "from project_management_automation.tools.dependency_security import scan_dependency_security; print(scan_dependency_security())"
        language: python
        pass_filenames: false
        files: (requirements.*\.txt|pyproject\.toml|Cargo\.toml|package\.json)$
        stages: [commit]

      # Full alignment check on push
      - id: exarp-alignment
        name: Exarp Task Alignment
        entry: python -c "from project_management_automation.tools.todo2_alignment import analyze_todo2_alignment; print(analyze_todo2_alignment())"
        language: python
        pass_filenames: false
        stages: [push]

      # Project scorecard on push
      - id: exarp-scorecard
        name: Exarp Project Scorecard
        entry: python -c "from project_management_automation.tools.project_scorecard import generate_project_scorecard; print(generate_project_scorecard('json'))"
        language: python
        pass_filenames: false
        stages: [push]

      # MCP Tool Validation (prevents FastMCP issues)
      - id: exarp-tool-validation
        name: Exarp MCP Tool Validation
        entry: python -m project_management_automation.utils.tool_validator
        language: system
        pass_filenames: false
        files: project_management_automation/server\.py$
        stages: [commit, push]
        always_run: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [exarp-docs-health, exarp-tag-validation, exarp-security-quick, exarp-alignment, exarp-scorecard, exarp-tool-validation]
  submodules: false

docs: Add release preparation files for v0.2.0
  RELEASE_NOTES.md
  RELEASE_PREPARATION.md
  RELEASE_PREPARATION_SUMMARY.md
  scripts/prepare_release.sh
Due: exarp-docs-health

fix: Correct update_base_version regex pattern in version.py
  project_management_automation/version.py
Due: none

fix: Correct update_base_version to use dynamic version replacement
  project_management_automation/version.py
Due: none

fix: Restore dynamic version replacement in update_base_version
  project_management_automation/version.py
Due: none

docs: Add release preparation, PyPI setup, and sprint end documentation
  .todo2/handoffs.json
  PUBLISH_PYPI_NOW.md
  PUBLISH_TO_PYPI.md
  PYPI_PUBLISHING_SETUP.md
  PYPI_SETUP_INSTRUCTIONS.md
  SESSION_HANDOFF_QUICK_REFERENCE.md
  SET_PYPI_TOKEN.md
  SPRINT_END_REPORT.md
  SPRINT_END_SUMMARY.md
Due: exarp-docs-health, exarp-tag-validation

Fix prompt registration for stdio MCP server
  project_management_automation/server.py
Due: exarp-tool-validation

Configure MCP server for stdio mode fallback
  .cursor/mcp.json
  .cursor/mcp.json.template
  exarp-uvx-wrapper.sh
Due: none

Fix tool return types to always return JSON strings
  project_management_automation/tools/consolidated.py
  project_management_automation/tools/memory_dreaming.py
  project_management_automation/tools/wisdom/advisors.py
Due: none

Enhance error logging in middleware
  project_management_automation/middleware/logging_middleware.py
Due: none

Update documentation for stdio server mode
  docs/MCP_SERVER_LOG_ACCESS.md
  docs/TOOL_STATUS_TABLE.md
Due: exarp-docs-health

Update advisor tests for return type changes
  tests/test_advisors.py
Due: none

feat: Create devwisdom-go project with Todo2 tasks and planning
  .agentic-tools-mcp/tasks/tasks.json
  devwisdom-go/.gitignore
  devwisdom-go/EXARP_PLANNING_COMPLETE.md
  devwisdom-go/EXARP_USAGE.md
  devwisdom-go/MISALIGNED_TASKS_REVIEW.md
  devwisdom-go/Makefile
  devwisdom-go/PLANNING_RESULTS.md
  devwisdom-go/PLANNING_SUMMARY.md
  devwisdom-go/PLAN_EXARP.md
  devwisdom-go/PRD.md
  devwisdom-go/PROJECT_GOALS.md
  devwisdom-go/README.md
  devwisdom-go/TODO.md
  devwisdom-go/cmd/server/main.go
  devwisdom-go/discovered_tasks.json
  devwisdom-go/exarp_planning_results.json
  devwisdom-go/go.mod
  devwisdom-go/internal/config/config.go
  devwisdom-go/internal/mcp/server.go
  devwisdom-go/internal/wisdom/advisors.go
  devwisdom-go/internal/wisdom/engine.go
  devwisdom-go/internal/wisdom/sources.go
  devwisdom-go/internal/wisdom/types.go
  devwisdom-go/misaligned_tasks_detailed.json
  devwisdom-go/plan_with_exarp.py
  devwisdom-go/run_exarp_planning.py
  devwisdom-go/task_analysis_workaround.json
Due: exarp-docs-health

chore: Move devwisdom-go to separate repository
  devwisdom-go/.gitignore
  devwisdom-go/EXARP_PLANNING_COMPLETE.md
  devwisdom-go/EXARP_USAGE.md
  devwisdom-go/MISALIGNED_TASKS_REVIEW.md
  devwisdom-go/Makefile
  devwisdom-go/PLANNING_RESULTS.md
  devwisdom-go/PLANNING_SUMMARY.md
  devwisdom-go/PLAN_EXARP.md
  devwisdom-go/PRD.md
  devwisdom-go/PROJECT_GOALS.md
  devwisdom-go/README.md
  devwisdom-go/TODO.md
  devwisdom-go/cmd/server/main.go
  devwisdom-go/discovered_tasks.json
  devwisdom-go/exarp_planning_results.json
  devwisdom-go/go.mod
  devwisdom-go/internal/config/config.go
  devwisdom-go/internal/mcp/server.go
  devwisdom-go/internal/wisdom/advisors.go
  devwisdom-go/internal/wisdom/engine.go
  devwisdom-go/internal/wisdom/sources.go
  devwisdom-go/internal/wisdom/types.go
  devwisdom-go/misaligned_tasks_detailed.json
  devwisdom-go/plan_with_exarp.py
  devwisdom-go/run_exarp_planning.py
  devwisdom-go/task_analysis_workaround.json
Due: exarp-docs-health

docs: Add reference to separate devwisdom-go repository
  docs/DEVWISDOM_GO_REPO.md
Due: exarp-docs-health

docs: Update devwisdom-go repository reference with GitHub URL
  docs/DEVWISDOM_GO_REPO.md
Due: exarp-docs-health

Configure MCP servers: add exarp_pma to project config, update user-level pattern
  .cursor/mcp.json
  docs/MCP_CONFIGURATION_GUIDE.md
Due: exarp-docs-health

Add MCP configuration sync tools for multi-machine setup
  ansible/cursor-mcp-sync.yml
  docs/MCP_SYNC_GUIDE.md
  scripts/sync-cursor-mcp.sh
Due: exarp-docs-health

Add Cursor IDE rules and workspace config
  .cursor/commands/devwisdom.md
  .cursor/commands/project-management-automation.code-workspace
  .cursor/rules/mcp.mdc
  .cursor/rules/python.mdc
  .cursor/rules/testing.mdc
  .cursor/rules/typescript.mdc
  .todo2/state.todo2.backup.json
  .todo2/state.todo2.json
  docs/EXARP_MODULAR_BREAKDOWN.md
  docs/MCP_FRAMEWORKS_COMPARISON.md
  docs/WISDOM_COMPILED_LANGUAGE_ANALYSIS.md
  docs/WISDOM_MIGRATION_ANALYSIS.md
  docs/WISDOM_MIGRATION_QUICK_REF.md
  docs/WISDOM_MIGRATION_READINESS.md
  project_management_automation/resources/catalog.py
  project_management_automation/resources/memories.py
  project_management_automation/server.py
  project_management_automation/tools/consolidated.py
  project_management_automation/tools/memory_dreaming.py
  project_management_automation/tools/project_scorecard.py
  project_management_automation/utils/__init__.py
  project_management_automation/utils/wisdom_client.py
  scripts/com.cursor.cache.prune.plist
  scripts/com.cursor.ramdisk.plist
  scripts/com.cursor.ramdisk.sync.plist
  scripts/cursor-ramdisk.sh
  scripts/cursor-wrapper.sh
  scripts/install-cursor-ramdisk.sh
  scripts/toggle_exarp.sh
  test_mcp_error.py
Due: exarp-docs-health, exarp-tag-validation, exarp-tool-validation

Migrate wisdom module to devwisdom-go MCP server and fix filesystem access issues
  DEVWISDOM_GO_REDUNDANCY_REVIEW.md
  DUPLICATE_TASKS_CONSOLIDATION_PLAN.md
  FILESYSTEM_ACCESS_ISSUE_ANALYSIS.md
  MIGRATION_SESSION_SUMMARY.md
  WISDOM_MIGRATION_COMPLETE.md
  WISDOM_MIGRATION_PARALLEL_SUMMARY.md
  WISDOM_MIGRATION_PROGRESS.md
  docs/NOTEBOOKLM_PODCAST.md
  project_management_automation/resources/catalog.py
  project_management_automation/resources/templates.py
  project_management_automation/server.py
  project_management_automation/tools/memory_dreaming.py
  project_management_automation/tools/project_scorecard.py
  scripts/export_podcast_data.py
  shell/exarp-uvx.plugin.zsh
  tests/test_advisors.py
  tests/test_sefaria.py
  tests/test_session_memory.py
  tests/test_voice.py
Due: exarp-docs-health, exarp-tool-validation

Add watchdog script for Exarp MCP server and verify no duplicate instances
  DUPLICATE_MCP_CHECK.md
  WATCHDOG_SETUP.md
  watchdog.sh
Due: exarp-docs-health

Remove duplicate exarp_pma instance from project-level config
  .cursor/mcp.json
  DUPLICATE_FIX.md
  FIND_DUPLICATE_EXARP.md
Due: exarp-docs-health

Add cleanup scripts for duplicate exarp_pma instances
  CLEAR_CURSOR_MCP_CACHE.sh
  REMAINING_DUPLICATE_INVESTIGATION.md
  cleanup_duplicate_exarp.sh
Due: exarp-docs-health

Add duplicate exarp_pma and CMake extension fix documentation
  DUPLICATE_FIX_COMPLETE.md
Due: exarp-docs-health

Fix project root detection to support C++ and Go projects
  project_management_automation/lifespan.py
  project_management_automation/resources/context_primer.py
  project_management_automation/resources/templates.py
  project_management_automation/server.py
  project_management_automation/tools/auto_primer.py
  project_management_automation/tools/nightly_task_automation.py
  project_management_automation/tools/session_handoff.py
  project_management_automation/tools/tag_consolidation.py
  project_management_automation/tools/task_assignee.py
  project_management_automation/tools/working_copy_health.py
  project_management_automation/utils/project_root.py
Due: exarp-tool-validation

Add test-results/ to .gitignore
  .gitignore
Due: none

Remove tractatus_thinking MCP server from config
  .cursor/mcp.json
Due: none

Enable CodeQL config file in CI workflow
  .github/workflows/codeql.yml
Due: none

Fix test_voice.py: Remove duplicate docstring closing
  tests/test_voice.py
Due: none

Update dependency security scan history
  scripts/.dependency_security_history.json
Due: none

Update Todo2 state with automation task results
  .todo2/state.todo2.json
Due: exarp-tag-validation

Fix CVE-2025-65945: Update jws to 3.2.3
  extension/package-lock.json
Due: none

Implement subprocess sandboxing and update security status
  SECURITY_HARDENING_PROGRESS.md
  docs/SECURITY_STATUS.md
  project_management_automation/utils/security.py
Due: exarp-docs-health

feat: implement MCP connection pooling and batch operations
  .agentic-tools-mcp/tasks/tasks.json
  SECURITY_WORK_PLAN.md
  docs/MCP_CONNECTION_POOLING.md
  project_management_automation/scripts/base/mcp_client.py
  project_management_automation/utils/wisdom_client.py
  tests/test_mcp_performance.py
Due: exarp-docs-health

Complete high-priority tasks: MODE-001, ENHANCE-001, and Git-inspired tools
  .todo2/state.todo2.json
  project_management_automation/server.py
  tests/test_git_tools.py
Due: exarp-tag-validation, exarp-tool-validation

Fix syntax error in task_clarity_improver.py and complete Todo2/Agentic-Tools integrations
  .todo2/handoffs.json
  ALL_PROJECTS_PARALLELIZATION_ANALYSIS.md
  docs/AGENTIC_TOOLS_COMPLETE_INTEGRATION_ANALYSIS.md
  docs/AGENTIC_TOOLS_DUPLICATION_ANALYSIS.md
  docs/AGENTIC_TOOLS_INTEGRATION_ANALYSIS.md
  docs/ALL_TASKS_PARALLELIZATION_ANALYSIS.md
  docs/TODO2_MCP_INTEGRATION_ANALYSIS.md
  project_management_automation/scripts/automate_daily.py
  project_management_automation/scripts/automate_sprint.py
  project_management_automation/scripts/automate_todo2_alignment_v2.py
  project_management_automation/scripts/automate_todo2_duplicate_detection.py
  project_management_automation/scripts/automate_todo_sync.py
  project_management_automation/scripts/base/intelligent_automation_base.py
  project_management_automation/tools/analyze_todo2_dependencies.py
  project_management_automation/tools/auto_update_task_status.py
  project_management_automation/tools/automate_todo2_research.py
  project_management_automation/tools/enforce_todo2_workflow.py
  project_management_automation/tools/optimize_todo2_parallelization.py
  project_management_automation/tools/prd_generator.py
  project_management_automation/tools/project_scorecard.py
  project_management_automation/tools/task_clarity_improver.py
  project_management_automation/utils/__init__.py
  project_management_automation/utils/agentic_tools_client.py
  project_management_automation/utils/todo2_mcp_client.py
Due: exarp-docs-health, exarp-tag-validation

Remove dev_reload functionality and update watchdog for automatic reloads
  project_management_automation/middleware/access_control.py
  project_management_automation/middleware/rate_limit.py
  project_management_automation/scripts/automate_todo2_duplicate_detection.py
  project_management_automation/server.py
  project_management_automation/tools/consolidated.py
  project_management_automation/tools/dynamic_tools.py
  project_management_automation/tools/project_scorecard.py
  project_management_automation/tools/wisdom/advisors.py
  project_management_automation/utils/__init__.py
  project_management_automation/utils/dev_reload.py
  watchdog.sh
Due: exarp-tool-validation

Fix task_analysis tool bugs and improve compatibility
  .todo2/state.todo2.json
  project_management_automation/scripts/automate_todo2_duplicate_detection.py
  project_management_automation/scripts/base/mcp_client.py
  project_management_automation/tools/task_hierarchy_analyzer.py
Due: exarp-tag-validation

Consolidate task analysis tools and fix MCP errors
  .todo2/state.todo2.json
  docs/MCP_SERVER_DUPLICATE_ANALYSIS.md
  docs/TODO2_DEPENDENCY_ANALYSIS_REPORT.md
  docs/TODO2_PARALLELIZATION_OPTIMIZATION_REPORT.md
  project_management_automation/resources/context_primer.py
  project_management_automation/scripts/automate_daily.py
  project_management_automation/server.py
  project_management_automation/tools/consolidated.py
  project_management_automation/tools/dynamic_tools.py
  project_management_automation/tools/hint_catalog.py
  tests/test_fastmcp_return_types.py
Due: exarp-docs-health, exarp-tag-validation, exarp-tool-validation

chore: Release v0.2.1
  RELEASE_NOTES.md
  project_management_automation/version.py
Due: exarp-docs-health
