Repository davidl71/project-management-automation: changes, and which pre-commit hooks are due for each by the changed paths.
All: exarp-docs-health, exarp-tag-validation, exarp-security-quick, exarp-tool-validation

.pre-commit-config.yaml:

# Pre-commit configuration for Exarp project
# Integrates Exarp's own tools for self-validation ("dogfooding")
#
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Standard Python checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3

  # Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  # Local Exarp tools (dogfooding!)
  - repo: local
    hooks:
      # Quick docs health check
      - id: exarp-docs-health
        name: Exarp Docs Health Check
        entry: python -c "from project_management_automation.tools.docs_health import check_documentation_health; print(check_documentation_health())"
        language: python
        pass_filenames: false
        files: \.(md|rst)$
        stages: [commit]

      # Tag validation on task file changes
      - id: exarp-tag-validation
        name: Exarp Tag Validation
        entry: python -c "from project_management_automation.tools.tag_consolidation import consolidate_tags; print(consolidate_tags(dry_run=True))"
        language: python
        pass_filenames: false
        files: \.todo2/.*\.json$
        stages: [commit]

      # Security scan (quick mode for commits)
      - id: exarp-security-quick
        name: Exarp Security Scan (Quick)
        entry: python -c "from project_management_automation.tools.dependency_security import scan_dependency_security; print(scan_dependency_security())"
        language: python
        pass_filenames: false
        files: (requirements.*\.txt|pyproject\.toml|Cargo\.toml|package\.json)$
        stages: [commit]

      # Full alignment check on push
      - id: exarp-alignment
        name: Exarp Task Alignment
        entry: python -c "from project_management_automation.tools.todo2_alignment import analyze_todo2_alignment; print(analyze_todo2_alignment())"
        language: python
        pass_filenames: false
        stages: [push]

      # Project scorecard on push
      - id: exarp-scorecard
        name: Exarp Project Scorecard
        entry: python -c "from project_management_automation.tools.project_scorecard import generate_project_scorecard; print(generate_project_scorecard('json'))"
        language: python
        pass_filenames: false
        stages: [push]

      # MCP Tool Validation (prevents FastMCP issues)
      - id: exarp-tool-validation
        name: Exarp MCP Tool Validation
        entry: python -m project_management_automation.utils.tool_validator
        language: system
        pass_filenames: false
        files: project_management_automation/server\.py$
        stages: [commit, push]
        always_run: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [exarp-docs-health, exarp-tag-validation, exarp-security-quick, exarp-alignment, exarp-scorecard, exarp-tool-validation]
  submodules: false

feat: Add Ollama/CodeLlama integration for local LLM capabilities
  AUTOMATE_CODELLAMA.md
  OLLAMA_MODEL_RECOMMENDATIONS.md
  OLLAMA_SETUP.md
  check_ollama.py
  docs/OLLAMA_INTEGRATION_GUIDE.md
  project_management_automation/server.py
  project_management_automation/tools/model_recommender.py
  project_management_automation/tools/ollama_enhanced_tools.py
  project_management_automation/tools/ollama_integration.py
  pull_codellama.py
  pull_codellama.sh
  pull_codellama_uv.sh
  pyproject.toml
  setup_ollama.sh
Due: exarp-docs-health, exarp-security-quick, exarp-tool-validation

Add MCP server configuration with dependency checking
  .cursor/mcp.json
  ansible/README.md
  ansible/inventory.example
  ansible/setup-mcp-servers.yml
Due: exarp-docs-health

feat: Add RAM detection and optimization for Ollama
  .agentic-tools-mcp/tasks/tasks.json
  .cursor/mcp.json.backup.20251221_020948
  .todo2/state.todo2.json
  MODEL_PERFORMANCE_COMPARISON.md
  OLLAMA_SPEED_QUICK_START.md
  docs/DEPENDENCY_GRAPH_DESIGN.md
  docs/JSON_CACHE_API_DESIGN.md
  docs/JSON_CACHE_MIGRATION_COMPLETE.md
  docs/JSON_CACHING_TASKS_BREAKDOWN.md
  docs/JSON_FILE_LOADERS_INVENTORY.md
  docs/JSON_INDEX_DESIGN.md
  docs/OLLAMA_AMD_GPU_SUPPORT.md
  docs/OLLAMA_ENHANCED_TOOLS_TEST_REPORT.md
  docs/OLLAMA_MACOS_GPU_LIMITATIONS.md
  docs/OLLAMA_PERFORMANCE_OPTIMIZATION.md
  docs/OLLAMA_RAM_OPTIMIZATION.md
  docs/OLLAMA_TESTS_RUN_SUMMARY.md
  docs/OLLAMA_TOOLS_REGISTRATION_VERIFICATION.md
  docs/PARALLEL_WORK_PROGRESS.md
  docs/TASK_LOCKING_GUIDE.md
  docs/TASK_LOCKING_INTEGRATION_COMPLETE.md
  project_management_automation/resources/memories.py
  project_management_automation/resources/session.py
  project_management_automation/resources/tasks.py
  project_management_automation/tools/nightly_task_automation.py
  project_management_automation/tools/ollama_enhanced_tools.py
  project_management_automation/tools/ollama_integration.py
  project_management_automation/tools/task_assignee.py
  project_management_automation/utils/commit_tracking.py
  project_management_automation/utils/file_lock.py
  project_management_automation/utils/json_cache.py
  project_management_automation/utils/task_locking.py
  run_ollama_tests_quick.py
  test_hardware_detection.py
  test_ollama_enhanced_tools.py
  test_ollama_performance.py
  test_small_model.py
  tests/test_json_cache.py
  verify_ollama_tools_registration.py
Due: exarp-docs-health, exarp-tag-validation

feat: Add file-based task locking to prevent concurrent assignment
  .agentic-tools-mcp/tasks/tasks.json
Due: none

feat: Add status normalization to Title Case for all task updates
  .cursor/README.md
  .cursor/mcp.json
  .cursor/rules/ollama.mdc
  .cursor/rules/project-development.mdc
  .cursor/rules/python.mdc
  .cursor/rules/semgrep.mdc
  .cursor/rules/task-status-standardization.mdc
  .cursor/rules/testing.mdc
  .cursorrules
  .gitignore
  .todo2/state.todo2.json
  USAGE.md
  exarp-uvx-wrapper.sh
  project_management_automation/lifespan.py
  project_management_automation/scripts/base/intelligent_automation_base.py
  project_management_automation/scripts/base/mcp_client.py
  project_management_automation/server.py
  project_management_automation/tools/nightly_task_automation.py
  project_management_automation/utils/__init__.py
  project_management_automation/utils/agentic_tools_client.py
  project_management_automation/utils/project_root.py
  project_management_automation/utils/todo2_mcp_client.py
  project_management_automation/utils/todo2_utils.py
  project_management_automation/utils/wisdom_client.py
Due: exarp-docs-health, exarp-tag-validation, exarp-tool-validation

Add coverage aggregation system and update project scorecard
  .gitignore
  .todo2/state.todo2.json
  docs/COVERAGE_AGGREGATION.md
  docs/PROJECT_SCORECARD.md
  pyproject.toml
  scripts/combine_coverage.sh
  scripts/run_test_coverage.sh
Due: exarp-docs-health, exarp-tag-validation, exarp-security-quick

Add comprehensive Ollama integration test suites
  tests/test_ollama_enhanced_tools.py
  tests/test_ollama_integration.py
Due: none

fix: Synchronize stdio server tool list with FastMCP
  .cursor/mcp.json
  .todo2/state.todo2.json
  docs/DAILY_AUTOMATION_REPORT.md
  docs/DOCUMENTATION_HEALTH_REPORT.md
  docs/EXARP_SCRIPT_CONSOLIDATION.md
  docs/TODO2_DUPLICATE_DETECTION_REPORT.md
  docs/TODO2_PRIORITY_ALIGNMENT_ANALYSIS.md
  exarp-switch.sh
  exarp-uvx-wrapper.sh
  exarp.sh
  project_management_automation/server.py
  run_server.sh
  scripts/.docs_health_history.json
Due: exarp-docs-health, exarp-tag-validation, exarp-tool-validation

chore: Update BASE_VERSION to 0.2.2 to match PyPI release
  .cursor/mcp.json
  project_management_automation/version.py
Due: none

Simplify FastMCP import logic
  project_management_automation/server.py
Due: exarp-tool-validation

Consolidate prompts: Remove 3 redundant prompts (34 total)
  PROMPTS.md
  exarp.sh
  project_management_automation/server.py
Due: exarp-docs-health, exarp-tool-validation

Simplify tool registration and add return type validation
  SERVER_COMPARISON.md
  project_management_automation/server.py
  scripts/check_tool_return_types.py
  scripts/compare_with_sample_mcp.py
Due: exarp-docs-health, exarp-tool-validation

Complete tool consolidation and documentation updates
  project_management_automation/resources/session.py
  scripts/test_tool_return_types.py
Due: none

Fix prompt count log message: 41 → 34 prompts
  project_management_automation/server.py
Due: exarp-tool-validation

Update context cards and complete parallel tasks
  .todo2/state.todo2.json
  docs/ESTIMATION_LEARNING.md
  docs/MLX_INTEGRATION_OPPORTUNITIES.md
  docs/MLX_TASK_ESTIMATION_IMPLEMENTATION.md
  docs/SKIPPED_FILES_HINT_REVIEW.md
  project_management_automation/resources/context_primer.py
Due: exarp-docs-health, exarp-tag-validation

Fix attribution check tool implementation
  docs/ATTRIBUTION_COMPLIANCE_REPORT.md
  project_management_automation/scripts/automate_attribution_check.py
  project_management_automation/tools/attribution_check.py
Due: exarp-docs-health

Update Todo2 state after task completion
  .todo2/state.todo2.json
Due: exarp-tag-validation
